@charset "utf-8";

@page {
  margin: 1cm 2cm;
}

h1,
h2,
blockquote,
p {
  break-inside: avoid;
}

h3 {
  break-before: always;
}

img {
  max-width: 100%;
  page-break-inside: avoid;
}

body > nav {
  display: none;
}
