@charset "utf-8";

@media (orientation: landscape) {
  :root {
    --content-size: 100vh;
  }
}

@media (orientation: portrait) {
  :root {
    --content-size: 100vw;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  :root {
    --background-color: white;
    --color: black;
    --link-color: #6d071a;
    --text-shadow-1: #f6cfe9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: black;
    --color: white;
    --link-color: #e37f98;
    --text-shadow-1: #58354d;
  }
}

:root {
  --font-size-4: calc(var(--content-size)/14);
  --font-size-3: calc(var(--content-size)/20);
  --font-size-2: calc(var(--content-size)/26);
  --font-size-1: calc(var(--content-size)/32);

  --margin-size: calc(var(--content-size)/100);
  --nav-img-size: calc(var(--content-size)/5);

  background-color: var(--background-color);
  color: var(--color);
}

html,
body {
  padding: 0 var(--font-size-1);
}

body {
  font-size: var(--font-size-1);
}

body > header {
  margin-top: var(--font-size-1);
}

article {
  text-shadow: 1px 1px 1px var(--text-shadow-1);
}

body > article img {
  border-radius: 5%;
  opacity: .9;
}

body > article blockquote {
  border-left: .5em solid var(--article-title-shadow-color);
  font-style: italic;
  margin-left: 1em;
  padding-left: 1em;
  margin-right: 0;
  padding-right: 0;
}

body > article h1,
body > article h2 {
  color: var(--article-title-text-color);
}

body > article h1 {
  text-shadow: 3px 2px 1px var(--article-title-shadow-color);
}

body > article h2 {
  text-shadow: 2px 2px 2px var(--article-title-shadow-color);
}

body > nav {
  position: fixed;
  bottom: 0;
  right: var(--margin-size);
  display: flex;
  gap: var(--margin-size);
  z-index: 1000;
}

body > nav img {
  height: auto;
  width: var(--nav-img-size);
  opacity: .3;
}

body > nav img:hover {
  opacity: 1;
}

body > footer {
  margin-top: var(--nav-img-size);
  padding-top: .5em;
  font-size: .8em;
  opacity: .8;
}




h1,
h2 {
  color: var(--text-shadow-1);
}

h1 {
  font-size: var(--font-size-4);
  margin: var(--font-size-2) 0;
}

h2 {
  font-size: var(--font-size-3);
  margin: var(--font-size-2) 0;
}

p {
  margin: var(--font-size-2) 0;
}

a,
q {
  color: var(--link-color);
}
