@charset "utf-8";

@media (orientation: landscape) {
  :root {
    --content-size: 100vh;
  }
}

@media (orientation: portrait) {
  :root {
    --content-size: 100vw;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f8f5e6;
    --color: #444;
    --link-color: #6d071a;
    --text-shadow: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0d1117;
    --color: #888;
    --link-color: #e37f98;
    --text-shadow: black;
  }
}

:root {
  --font-size-4: calc(var(--content-size)/14);
  --font-size-3: calc(var(--content-size)/20);
  --font-size-2: calc(var(--content-size)/26);
  --font-size-1: calc(var(--content-size)/32);

  --margin-size: calc(var(--content-size)/100);

  background-color: var(--background-color);
  color: var(--color);
  text-shadow: var(--text-shadow) 1px 1px;
}

html,
body {
  padding: 0 var(--font-size-1);
}

body {
  font-size: var(--font-size-1);
}

h1 {
  font-size: var(--font-size-4);
  margin: var(--font-size-2) 0;
}

h2 {
  font-size: var(--font-size-3);
  margin: var(--font-size-2) 0;
}

h3 {
  font-size: var(--font-size-2);
  margin: var(--font-size-2) 0;
}

p {
  margin: var(--font-size-2) 0;
}

a {
  color: var(--link-color);
}

article img {
  border-radius: 5%;
  opacity: .9;
}

body > header {
  margin-top: var(--font-size-1);
}

body > footer {
  padding-top: .5em;
  font-size: .8em;
  opacity: .8;
}
