@charset "utf-8";

@media (orientation: landscape) {
  :root {
    --content-size: 100vh;
  }
}

@media (orientation: portrait) {
  :root {
    --content-size: 100vw;
  }
}

:root {
  --font-size-4: calc(var(--content-size)/14);
  --font-size-3: calc(var(--content-size)/20);
  --font-size-2: calc(var(--content-size)/26);
  --font-size-1: calc(var(--content-size)/32);
  --font-size-0: calc(var(--content-size)/38);

  --margin-size: calc(var(--content-size)/100);
  --nav-img-size: calc(var(--content-size)/8);

  background-color: var(--background-color);
  color: var(--color);
  font-size: var(--font-size-1);
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: var(--font-size-1) var(--font-size-2);
  padding: 0;
}

h1 {
  font-size: var(--font-size-4);
  margin: 0 0 var(--font-size-2) 0;
}

h2 {
  font-size: var(--font-size-3);
  margin: var(--font-size-2) 0;
}

p {
  margin: var(--font-size-2) 0;
}

a {
  color: var(--link-color);
}

q {
  color: var(--quote-color);
}

body > article {
  text-shadow: 1px 1px 1px var(--shadow-color);
}

body > article img {
  border-radius: 5%;
  opacity: .9;
}

body > article blockquote {
  border-left: .5em solid var(--article-title-shadow-color);
  margin-left: 1em;
  padding-left: 1em;
  margin-right: 0;
  padding-right: 0;
}

body > article h1,
body > article h2 {
  color: var(--article-title-text-color);
}

body > article h1 {
  text-shadow: 3px 2px 1px var(--article-title-shadow-color);
}

body > article h2 {
  text-shadow: 2px 2px 2px var(--article-title-shadow-color);
}

body > article > section p:first-of-type::first-letter {
  initial-letter: 2;
  padding-right: .3rem;
  font-family: "IBM Plex Mono", monospace;
}



body > nav {
  position: fixed;
  bottom: 0;
  right: var(--margin-size);
  display: flex;
  gap: var(--margin-size);
  z-index: 1000;
}

body > nav picture > img {
  display: block;
  max-width: 100%;
  height: var(--nav-img-size);
}

body > nav > a > picture > img {
  opacity: .2;
}

body > nav > a > picture > img:hover {
  opacity: 1;
}



body > aside {
  margin: 1em 0;
  padding: 1em 0;
  border-top: thin solid var(--article-title-shadow-color);
  border-bottom: thin solid var(--article-title-shadow-color);
}

body > aside > p {
  margin: 0;
  padding: 0;
}

body > footer {
  margin-bottom: var(--nav-img-size);
}

body > footer > p {
  font-size: var(--font-size-0);
}
