/*
 * Game
 */

table.squares {
  border-collapse: collapse;
  table-layout: fixed;
  width: var(--game-board-size);
  height: var(--game-board-size);
  empty-cells: show;
  background-image: url("../img/variant/ogi/south/board.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

table.squares tr.rank {
  height: var(--game-square-size);
}

table.squares img.piece[data-variant="ogi"][data-side="north"] {
  transform: rotate(-180deg);
}

table.squares img.piece {
  display: block;
  height: var(--game-piece-size);
  margin-left: auto;
  margin-right: auto;
}

table.squares tr.rank td.square.focus {
  background-color: hsla(60, 100%, 50%, 0.5);
}
